# Entornos virtuales
venv/
.venv/
env/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Variables de entorno
.env

# Datos locales
data/raw/
data/processed/

# Modelos entrenados
models/*.pkl

# Caché y archivos temporales
*.log
*.tmp
.DS_Store
Thumbs.db

# VS Code
.vscode/